[core]
	editor = \"C:\\Users\\kusha\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = kushagra-aa
	emial = kushagraagnihotri24@gmail.com
	email = kushagraagnihotri24@gmial.com
